.App {
    font-family: sans-serif;
    text-align: center;
  }
  .outer {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  .notes {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .notesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 15px;
  }
  .notes :nth-child(1) {
    cursor: pointer;
  }
  .editor{
    width: 85%;
  }